bin/
obj/
.artifacts/
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.csproj.user
*.pubxml.user
*.suo
*.dmp
/dist/
/publish/
/TestResults/
/settings.json
/auth/
/skins/
/instances/
/logs/
